body {
    background-color: rgb(169, 165, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #options-container {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    cursor: pointer;
  }
  #options-container > div {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 10px;
  }

  #options-container > div:hover {
    scale: 1.2;
    transition: 0.4s all ease-in-out;
  }